# Variables that ought to be configured in here are:

# export TELSTAR_API_SERVER=localhost:8001
# export TELSTAR_API_DATABASE=secondary
# export TELSTAR_API_USERNAME=...
# export TELSTAR_API_PASSWORD=...
# export METOFFICE_API_KEY=...